body {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    height: 100%;
}

.main-index{
    display: flex;
    margin-top: -.5rem;
}

.tittle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
}


#resultado{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 5px;
}

.card-main {
    display: flex;
    gap: 2px;
    flex-flow: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.card-main img {
    
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-main h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.card-main p {
    font-size: 16px;
    color: #666;
}

.boton-comprar {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
}



.boton-comprar:hover {
    background-color: #0056b3;
}


/* -------------  media queries  ------------- */

