body {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.card {
    width: 100%;
}

/* -------------  media queries  ------------- */

@media (min-width: 550px) {
    main {
        flex-flow: row wrap;
    }
    body main .card {
        width: 49%;
    }
}

@media (min-width: 950px){
    body main .card {
        width: 24%;
    }
}